{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <body>
         {% block content %}
         
         <div class="jewellery_section">   
         <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">PRODUCT DETAILS</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-6 col-sm-4">
                              <div class="box_main">
                                 <div class="jewellery_img"><img src="{{product.product_image.url }}"></div>
                                </div>                           
                           </div> 
                           <div class="col-lg-4 col-sm-4">
                           <h2 class="shirt_text">{{product.product_name}}</h2>
                               <p><h2>Price: <span style="color: #262626;">Rs.{{product.product_price}}</h2></span></p>
                               <p>Qty: <span style="color: #262626;">{{product.product_qty}}</span></p>
                               <p>Category: <span style="color: #262626;">{{product.category}}</span></p>
                               <p>Description: <span style="color: #262626;">{{product.product_desc}}</span></p>
                              {% if request.session.email %}
                               
                                 {% if cart_obj %}
                              <p><a href={% url 'removefromcart' pk=product.pk %}><button class="btn btn-success">Remove from cart CART</button></a>&nbsp&nbsp
                                 {% else %}     
                              <p><a href={% url 'addtocart' pk=product.pk %}><button class="btn btn-success">ADD TO CART</button></a>&nbsp&nbsp
                                 
                                 {% endif %} 
                                 {% if wishlist_obj %}
                                    <a href={% url 'removefromwishlist' pk=product.pk %}><button class="btn btn-primary">Remove from WISHLIST</button></a></p>
                                 {% else %}            
                                 <a href={% url 'addtowishlist' pk=product.pk %}><button class="btn btn-primary">ADD TO WISHLIST</button></a></p>
                                 {% endif %}

                                 {%else%}
                               <p><a href={% url 'login' %}><button class="btn btn-primary">Login for more</button></p>
                              {% endif %}
                               <div class="btn_main">
                                  </div>
                              </div>                           
                         </div> 
            {% endblock %}
   </body>
</html>
